@font-face {
  font-family: 'alternate-gothic-3d-regular';
  src: url(../fonts/Alternate\ Gothic\ No3\ D\ Regular.otf);
}

:root {
  --light-blue: #2fa9ff;
  --dark-blue: #13181e;
  --dark-gray: #212529;
}
body {
  background-color: var(--dark-blue);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#about, #projects {
  margin-top: 96px;
}
.a-section-title-home {
  font-family: 'alternate-gothic-3d-regular', sans-serif;
  font-size: 54px;
  font-weight: 500;
}
.a-section-title {

}
@media (min-width: 0px) {
  .a-headshot {
    height: 200px;
    border-radius: 100px;
  }
}
@media (min-width: 576px) {
  .a-headshot {
    height: 250px;
    border-radius: 125px;
  }
}
@media (min-width: 992px) {
  .a-headshot {
    height: 250px;
    border-radius: 125px;
  }
}
@media (min-width: 1200px) {
  .a-headshot {
    height: 300px;
    border-radius: 150px;
  }
}
@media (min-width: 1400px) {
  .a-headshot {
    height: 350px;
    border-radius: 175px;
  }
}
.a-content-title {
  font-family: 'alternate-gothic-3d-regular', sans-serif;
  font-weight: 300;
}
.a-learn-more {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 6px;
  color: white;
}
.a-project-preview-title-container {
  border: 1px solid white;
  border-left: none;
  border-right: none;
}
.a-project-preview-title {
  font-family: 'alternate-gothic-3d-regular', sans-serif;
  font-size: 30px;
  padding: 10px 0 0 0;
}
.a-project-preview-description {
  font-family: Arial, Helvetica, sans-serif;
}
.a-project-preview-body-container {
  border: 1px solid white;
  border-top: none;
  width: 424px;
  margin-bottom: 24px;
  padding: 0;
}
.a-project-preview-button-container {
  padding: 20px 0 20px 0;
  border-top: 1px solid white;
}
.a-button-project-details, .a-button-explore-site {
  width: 130px;
}
/*
.a-project-preview-body-container {
  height: 300px;
  border: 1px solid white;
  border-top: none;
  margin: 0 0 24px 0;
  padding: 0;
  min-width: 364px;
  max-width: 500px;
}
*/
