@font-face {
  font-family: 'alternate-gothic-3d-regular';
  src: url(../fonts/Alternate\ Gothic\ No3\ D\ Regular.otf);
}

:root {
  --light-blue: #2fa9ff;
  --dark-blue: #13181e;
  --dark-gray: #212529;
}
body {
  background-color: var(--dark-blue);
}
#about, #projects {
  margin-top: 96px;
}
.a-section-title-home {
  font-family: 'alternate-gothic-3d-regular', sans-serif;
  font-size: 60px;
  font-weight: 500;
}
.a-section-title {

}
@media (min-width: 0px) {
  .a-headshot {
    height: 150px;
    border-radius: 75px;
  }
}
@media (min-width: 576px) {
  .a-headshot {
    height: 150px;
    border-radius: 75px;
  }
}
@media (min-width: 768px) {
  .a-headshot {
    height: 175px;
    border-radius: 88px;
  }
}
@media (min-width: 992px) {
  .a-headshot {
    height: 250px;
    border-radius: 125px;
  }
}
@media (min-width: 1200px) {
  .a-headshot {
    height: 300px;
    border-radius: 150px;
  }
}
@media (min-width: 1400px) {
  .a-headshot {
    height: 350px;
    border-radius: 175px;
  }
}
.a-content-title {
  font-family: 'alternate-gothic-3d-regular', sans-serif;
  font-weight: 300;
}
.a-learn-more {
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: white;
}
.gg-arrow-right {
  float: right;
}
